.category-block {
    border: solid 1px gray;
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
}

.articles-block {
    border: solid 1px gold;
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
}

.article-image {
    max-width: 140px;
    max-height: 140px;
}