.category-block {
    border: solid 1px gray;
}

.articles-block {
    border: solid 1px gold;
}

.outfit-block {
    border: solid 1px green;
}

.block-bucket {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: solid 1px;
    display: inline-block;
}

.display-category {
    width: 35%;
    height: 300px;
    margin: 10px;
    display: inline-block;
}

.article-image {
    max-width: 140px;
    max-height: 140px;
}

.outfit-frame {
    width: 45%;
    height: 80%;
    display: inline-block;
}

.category-frame {
    width: 45%;
    height: 80%;
    display: inline-block;
}

.scrollable {
    overflow-y: scroll
}

.outer-frame {
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}