{% extends 'base.html' %}

{% block title %}Articles - {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb" aria-label="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Articles</li>
  </ol>
{% endblock %}

{% block content %}
<div class="container col-12">
  <div class="row">
    <div class="scrollable offset-2">
      {% for category in categories %}
      <!-- <fieldset class="display-category category-block scrollable"> -->
      <div class="col-3 scrollable inline-block align-top">
        <fieldset class="gray-border">
          <legend class="manual-border">{{ category.name }}</legend>
            {% for article in category.articles %}
              <div class="article-block block-bucket"> 
                <a href="/articles/{{ article.article_id }}">
                  {% if article.image %}
                    <img src="{{ article.image }}" class="article-image" />
                  {% else %}
                    {{ article.description }}
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          <button class="add-button"> <!-- article-block block-bucket -->
            <a href="/add-article">
              +
            </a>
          </button>
        </fieldset>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock%}