{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
  
  <p>
    <a href="/">Back to Homepage</a>
  </p>

    <div class="scrollable">
      {% for category in categories %}
      <fieldset class="display-category category-block scrollable">
        <legend>{{ category.name }}</legend>
          {% for article in category.articles %}
            <button class="article-block block-bucket"> 
              <a href="/articles/{{ article.article_id }}">
                {% if article.image %}
                  <img src="{{ article.image }}" class="article-image" />
                {% else %}
                  {{ article.description }}
                {% endif %}
              </a>
            </button>
          {% endfor %}
      </fieldset>
      {% endfor %}
    </div>

  <button class="article-block block-bucket">
    <a href="/add-article">
      +
    </a>
  </button>

{% endblock%}