{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
  
  <p>
    <a href="/categories">Back to Categories</a>
  </p>

  {% for article in articles %}
    <div class="articles-block">
      <a href="/articles/{{ article.article_id }}">
      {% if article.image %}
        <img src="/static/img/{{ article.img }}">
      {% else %}
        {{ article.description }}
      {% endif %}
      </a>
    </div>
  {% endfor %}

  <div class="articles-block">
    <a href="/add-article">
      Create a new article
    </a>
  </div>

{% endblock%}