<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}Wardrobe Manager</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

</head>

<body>
  <nav class="navbar sticky-top navbar-dark bg-dark justify-content-start">
    <div class="navbar-nav container flex-row">
      <a class="navbar-brand" href="/">Wardrobe Manager</a>
      <a class="nav-link" href="/articles">Articles</a>
      <a class="nav-link" href="/outfits">Outfits</a>
      <a class="nav-link" href="/events">Events (Logs)</a>
      <a class="nav-link" href="/categories">Categories</a>
    </div>
    <div class="navbar-nav container col-2">
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </nav>

<!-- Show flashed messages -->
{% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
{% endfor %}

{% block breadcrumb %} BREADCRUMBS HERE {% endblock %}

<main class="container col-9 my-5">
<!-- Content of pages using inheritance -->
{% block content %} HERE IS SOME CONTENT {% endblock %}
</main>

</body>
<footer>
<!-- <p> 
  The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy.
</p>
-->
<p>
  <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
</p>
</footer>
</html>