<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}Wardrobe Manager</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Playfair+Display:400,400i&display=swap" rel="stylesheet"> 

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

</head>

<body>
  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="navbar-nav container col-12 flex-row">
      <a class="navbar-brand justify-content-start" href="/">Wardrobe Manager</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navExpandContent1"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navExpandContent1">
        <div class="navbar-nav justify-content-start">
          <a class="nav-link" href="/articles">Articles</a>
          <a class="nav-link" href="/outfits">Outfits</a>
          <a class="nav-link" href="/events">Events</a>
          <a class="nav-link" href="/categories">Categories</a>
        </div>
        <div class="navbar-nav justify-content-end">
          <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>

{% block breadcrumb %} BREADCRUMBS HERE {% endblock %}

<!-- Show flashed messages -->
{% for message in get_flashed_messages() %}
  <div class="flex-row alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<!-- Content of pages using inheritance -->
{% block content %} {% endblock %}

</body>
<footer>
  <main class="container">
    <!-- <p> 
      The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy.
    </p>
    -->
    <p>
      <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    </p>
  </main>
</footer>
</html>