<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}Unfold</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Playfair+Display:400,400i&display=swap" rel="stylesheet"> 

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

</head>

<body>
  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="navbar-nav container col-12 flex-row">
      <a class="navbar-brand justify-content-start" href="/">Unfold</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navExpandContent1"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navExpandContent1">
        <div class="navbar-nav justify-content-start">
          <a class="nav-link" href="/articles">Articles</a>
          <a class="nav-link" href="/outfits">Outfits</a>
          <a class="nav-link" href="/events">Events</a>
          <a class="nav-link" href="/categories">Categories</a>
        </div>
        <div class="navbar-nav justify-content-end">
          <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>

{% block breadcrumb %} BREADCRUMBS HERE {% endblock %}

<!-- Show flashed messages -->
{% for message in get_flashed_messages() %}
  <div class="flex-row alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<!-- Content of pages using inheritance -->
{% block content %} {% endblock %}
  <footer>
    <main class="container">
    </main>
  </footer>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>