{% extends 'base.html' %}

{% block title %}Categories - {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb" aria-label="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Categories</li>
  </ol>
{% endblock %}

{% block content %}
<main class="container">
  <div class="scrollable">
    {% for base in base_categories %}
      <h3>{{ base.name }}</h3>
        {% for category in base.categories %}
          {% if category in categories %}
            <button class="category-block block-bucket">
              <a href="/categories/{{ category.category_id }}">
                {{ category.name }}
              </a>
            </button>
          {% endif %}
        {% endfor %}
        <a href="/add-category">
          <button class="add-button">
               +
          </button>
        </a>
      {% endfor %}
  </div>
</main>

{% endblock%}