{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<button class="block-bucket">
  <a href="/outfits">
    Outfits
  </a>
</button>

<button class="block-bucket">
  <a href="/articles">
    Articles
  </a>
</button>

<button class="block-bucket">
  <a href="/categories">
    Categories
  </a>
</button>

<form action="/get-weather" id="get-weather">
    <label for="city">City:</label>
    <input type="text" name="city">
    <input type="submit" value="Get Weather">
</form>

{% for forecast in today %}
  <div class="forecast">
    <img src="{{ forecast.get_weather_icon_url() }}" />
    <h3>{{ forecast.temp }}&deg;</h3>
    {{ forecast.datestr }} - {{ forecast.get_detailed_status() }}
  </div>
{% endfor %}

<div class="weather-forecast">
    <div class="weather-forecast today" id="forecast-today">
    </div>
    <div class="weather-forecast tomorrow" id="forecast-tomorrow">
    </div>
</div>

<script>
    "use strict";

    // const kelvinToFahreheit = (kelvin) => {
    //     return kelvin - 273 * 1.8 + 32
    // };

    const updateWeather = (res) => {
        $('#forecast-today').html(res.main['temp']);
    };

    $('#get-weather').on('submit', (evt) => {
        evt.preventDefault();

        const city = $('city').val();

        // parameters = {
        //     'async': true,
        //     'crossDomain': true,
        //     'url': `https://community-open-weather-map.p.rapidapi.com/weather?units=imperial&q=${city}`,
        //     'method': 'GET',
        //     'headers': {
        //         'x-rapidapi-host': 'community-open-weather-map.p.rapidapi.com',
        //         'x-rapidapi-key': '225deb2e85a9e0632762551be777b883'
        //     }
        // }

        // $.ajax(parameters.done(updateWeather));
    });

</script>


{% endblock%}