{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb" aria-label="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
{% endblock %}

{% block content %}
<div class="container col-12">
  <div class="row col-12" id="homepage-content">
    <div class="col-6 offset-1 left-side inline-block">
      <div class="recommendation homepage-outfit-frame">
        <h1 id="greeting" class="playfair">What shall we wear today?</h1>
        {% if events_today %}
          {% for event in events_today %}
            <div class="event-recommendation">
            {% if event.outfit %}
              <h3>For <a href="/events/{{ event.wear_event_id }}">{{ event.name }}</a>, you're wearing:</h3>
              <a href="/outfits/{{ event.outfit.outfit_id }}"><div>
              <!-- Iterate over all articles in the event (via the outfit) & display them. -->
              {% for article in event.outfit.articles %}
                <div class="block-bucket">
                    <img src="{{ article.image }}" class="article-image">
                </div>
              {% endfor %}
              </div></a>
            {% else %}
              <h3>For <a href="/events/{{ event.wear_event_id }}">{{ event.name }}</a>,
                {% if outfit_recs.get(event) %}
                  {% if coat_count %}
                    we recommend an extra {{ coat_count }} jacket(s) to go with:
                  {% else %}
                    we recommend:
                  {% endif %}
                {% else %}
                  sorry, no outfit match found!
                {% endif %}
              </h3>

              {% if outfit_recs.get(event) %}
              <!-- Iterate over all articles in the event (via the outfit) & display them. -->
              <a href="/outfits/{{ outfit_recs[event].outfit_id }}">
                <div>
                  {% for article in outfit_recs[event].articles %}
                    <div class="block-bucket">
                      <!-- <a href="/articles/{{ article.article_id }}"> -->
                        <img src="{{ article.image }}" class="article-image">
                      <!-- </a> -->
                    </div>
                  {% endfor %}
                </div>
              </a>
              <form action="/update-event" method="POST">
                <input type="hidden" name="event-to-edit" value="{{ event.wear_event_id }}">
                <input type="hidden" name="event-outfit" value="{{ outfit_recs[event].outfit_id }}">
                <input type="submit" id="save-rec-outfit" value="Wear this recommendation!">
              </form>
              {% endif %}
              <form action="/update-event" method="POST">
                <input type="hidden" name="event-to-edit" value="{{ event.wear_event_id }}">
                <label for="event-outfit">Or choose a different outfit:</label>
                <select name="event-outfit" id="event-outfit-select">
                  {% for outfit in outfits %}
                    <option value="{{ outfit.outfit_id }}">
                      {% if outfit.name %}
                        {{ outfit.name }}
                      {% else %}
                        Outfit # {{ outfit.outfit_id }}
                      {% endif %}
                    </option>
                  {% endfor %}
                </select>
                <input type="submit" value="Save this choice">
              </form>
            {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <h3 class="top-padding">No events scheduled today. Want to <a href="/add-event">add one</a>?</h3>
        {% endif %}
      </div>
    </div>


    <div class="col-3 offset-1 align-top right-side inline-block">
      <!-- <div class="row">
        {% for hour in hourly[:1:1] %}
          <div class="forecast align-top">
            <h2 class="playfair">Today:</h2>
            <img src="https://darksky.net/images/weather-icons/{{ hour['icon'] }}.png" class="forecast" />
            <h3 class="weather-temp">{{ hour['temperature'] }}&deg;</h3>
          </div>
        {% endfor %}
      </div> -->

      <div class="row">
        {% for day in daily[0:1] %}
        <div class="forecast today align-top">
          <h2 class="playfair">Today:</h2>
          <img src="https://darksky.net/images/weather-icons/{{ day['icon'] }}.png" class="forecast" />
          <h3 class="weather-temp">{{ day.apparentTemperatureLow }}&deg; - {{ day.apparentTemperatureHigh }}&deg;</h3>
          {{ day['summary'] }}
        </div>
        {% endfor %}
      </div>

      <div class="row">
        {% for day in daily[1:2] %}
        <div class="forecast tomorrow align-top">
          <h2 class="playfair">Tomorrow:</h2>
          <img src="https://darksky.net/images/weather-icons/{{ day['icon'] }}.png" class="forecast" />
          <h3 class="weather-temp">{{ day.apparentTemperatureLow }}&deg; - {{ day.apparentTemperatureHigh }}&deg;</h3>
          {{ day['summary'] }}
        </div>
        {% endfor %}
      </div>

      <div class="row block">
        <h2 class="playfair top-padding">Your stats:</h2>
        <div class="row carousel">

          <section name="statistics" id="carouselExampleControls" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <div id="total-articles" class="carousel-item active user-stats">
                <h3 class="stats">{{ user_stats['counts']['articles'] }}</h3>
                <p>articles</p>
              </div>

              <div id="total-outfits" class="carousel-item user-stats">
                <h3 class="stats">{{ user_stats['counts']['outfits'] }}</h3>
                <p>outfits</p>
              </div>

              <div id="total-events" class="carousel-item user-stats">
                <h3 class="stats">{{ user_stats['counts']['events'] }}</h3>
                <p>events</p>
              </div>

              <div id="total-categories" class="carousel-item user-stats">
                <h3 class="stats">{{ user_stats['counts']['categories'] }}</h3>
                <p>categories</p>
              </div>

              {% if user_stats['most_worn'].get('outfit') %}
                <div id="most-worn-outfit" class="carousel-item user-stats">
                  <h3 class="stats"><a href="/outfits/{{ user_stats['most_worn']['outfit'].outfit_id }}">#{{ user_stats['most_worn']['outfit'].outfit_id }}</a></h3>
                  <p>most worn outfit:<br />
                  {{ user_stats['most_worn']['outfit'].times_worn }} times</p>
                </div>
              {% endif %}

              {% if user_stats['most_worn'].get('article') %}
                <div id="most-worn-article" class="carousel-item user-stats">
                  <a href="/articles/{{ user_stats['most_worn']['article'].article_id }}"><img src="{{ user_stats['most_worn']['article'].image }}" class="thumbnail" /></a>
                  <p>most worn article:<br />
                  {{ user_stats['most_worn']['article'].times_worn }} times</p>
                </div>
              {% endif %}

              {% if user_stats['most_worn'].get(random_category.name) %}
                <div id="most-worn-category-article" class="carousel-item user-stats">
                  <a href="/articles/{{ user_stats['most_worn'][random_category.name].article_id }}"><img src="{{ user_stats['most_worn'][random_category.name].image }}" class="thumbnail" /></a>
                  <p>most worn in {{ random_category.name }}:<br />
                  {{ user_stats['most_worn'][random_category.name].times_worn }} times</p>
                </div>
              {% endif %}

              {% if user_stats['best_value'][random_category2.name].get('nonzero_article') %}
                <div id="best-value-category-article" class="carousel-item user-stats">
                  <a href="/articles/{{ user_stats['best_value'][random_category2.name]['nonzero_article'].article_id }}"><img src="{{ user_stats['best_value'][random_category2.name]['nonzero_article'].image }}" class="thumbnail" /></a>
                  <p>best value in {{ random_category2.name }}:<br />
                  {{ '$%.2f'|format(user_stats['best_value'][random_category2.name]['nonzero_article'].value) }} / wear</p>
                </div>
              {% endif %}

              {% if user_stats['best_value'].get('nonzero_outfit') %}
                <div id="best-value-outfit" class="carousel-item user-stats">
                  <h3 class="stats"><a href="/outfits/{{ user_stats['best_value']['nonzero_outfit'].outfit_id }}">#{{ user_stats['best_value']['nonzero_outfit'].outfit_id }}</a></h3>
                  <p>best value outfit:<br />
                  {# Jinja doesn't seem to support f-string formatting :( #}
                  {{ '$%.2f'|format(user_stats['best_value']['nonzero_outfit'].value) }} / wear</p>
                </div>
              {% endif %}

              {% if user_stats['best_value'].get('nonzero_article') %}
                <div id="best-value-article" class="carousel-item user-stats">
                  <h3 class="stats"><a href="/articles/{{ user_stats['best_value']['nonzero_article'].article_id }}"><img src="{{ user_stats['best_value']['nonzero_article'].image }}" class="thumbnail"></a></h3>
                  <p>best value article:<br />
                  {{ '$%.2f'|format(user_stats['best_value']['nonzero_article'].value) }} / wear</p>
                </div>
              {% endif %}

              {% if user_stats['most_used'].get(random_tag) %}
                <div id="most-used-tag" class="carousel-item user-stats">
                  <h3 class="stats">{{ user_stats['most_used'][random_tag]['tag'].name }}</h3>
                  <p>top {{ random_tag }} tag:<br />
                  {{ user_stats['most_used'][random_tag]['count'] }} uses</p>
                </div>
              {% endif %}
            </div>

              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </section>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- 
<form action="/get-weather" id="get-weather">
    <label for="city">City:</label>
    <input type="text" name="city">
    <input type="submit" value="Get Weather">
</form>
 -->
 <br />
 

  <div class="weather-forecast">
      <div class="weather-forecast today" id="forecast-today">
      </div>
      <div class="weather-forecast tomorrow" id="forecast-tomorrow">
      </div>
  </div>


<!-- <script> -->
<!--     "use strict";

    const updateWeather = (res) => {
        $('#forecast-today').html(res.main['temp']);
    };

    $('#get-weather').on('submit', (evt) => {
        evt.preventDefault();

        const city = $('city').val();

        // parameters = {
        //     'async': true,
        //     'crossDomain': true,
        //     'url': `https://community-open-weather-map.p.rapidapi.com/weather?units=imperial&q=${city}`,
        //     'method': 'GET',
        //     'headers': {
        //         'x-rapidapi-host': 'community-open-weather-map.p.rapidapi.com',
        //         'x-rapidapi-key': '225deb2e85a9e0632762551be777b883'
        //     }
        // }

        // $.ajax(parameters.done(updateWeather));
    });
 -->
<!-- </script> -->

  <footer>
    <main class="container">
      <!-- <p> 
        The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy.
      </p>
      -->
      <p>
        <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
      </p>
    </main>
  </footer>
{% endblock%}