{% extends 'base.html' %}

{% block title %}Outfits - {% endblock %}

{% block content %}

  <p>
    <a href="/">Back to Homepage</a>
  </p>

  {% for outfit in outfits %}
    <button class="outfit-block block-bucket">
      <a href="/outfits/{{ outfit.outfit_id }}">
      {% if outfit.description %}
        {{ outfit.description }}
      {% else %}
        {{ outfit.outfit_id }}
      {% endif %}
      </a>
    </button>
  {% endfor %}

  <button class="outfit-block block-bucket">
    <a href="/add-outfit">
      +
    </a>
  </button>

{% endblock%}