{% extends 'base.html' %}

{% block title %}Outfits - {% endblock %}

{% block content %}

  {% for outfit in outfits %}
    <button class="outfit-block block-bucket">
      <a href="/outfits/{{ outfit.outfit_id }}">
      #{{ outfit.outfit_id }}
      {% if outfit.description %}
         - {{ outfit.description }}
      {% elif outfit.name %}
         - {{ outfit.name }}
      {% endif %}
      </a>
    </button>
  {% endfor %}

  <button class="outfit-block block-bucket">
    <a href="/add-outfit">
      +
    </a>
  </button>

{% endblock%}