{% extends 'base.html' %}

{% block title %} Article Detail - {% endblock %}

{% block content %}
  
  <p>
    <a href="/articles">Back to Articles</a>
  </p>
  <h2>
    {{ article.category.name }} - {{ article.description }}
  </h2>

  {% if article.image %}
    <img class="full-size" src="{{ article.image }}">
  {% endif %}

  <form action="/update-article" method="POST">
    <p>
      Category: {{ article.category.name }}
    </p>
    <p>
      Times worn: {{ article.times_worn }}
    </p>
    <p>
      <input type="hidden" name="article-to-edit" id="article-to-edit" value="{{ article.article_id }}">
      Purchase price: $ {{ article.purchase_price }}
    </p>
    <p>
      <label for="purchase-price">New purchase price:</label>
      $ <input type="number" step="any" name="purchase-price">
    </p>
    <fieldset>
      <legend>Tags:</legend>
        {% for tag in tags %}
          <div>
            <input type="checkbox" id="{{ tag.tag_id }}" value="{{ tag.tag_id }}" name="article-tags" {% if tag in article.tags %} checked {% endif %}/>
            <label for="{{ tag.tag_id }}">{{ tag.name }}</label>
          </div>
        {% endfor %}
        <label for="new-tags">Add more tags (separate with commas):</label>
        <input type="text" id="new-tags" name="new-tags" />
        <div>
          <input type="submit" id="update-article" value="Update">
        </div>
    </fieldset>
  </form>

  <form action="/delete-article" method="POST">
    <input type="hidden" name="article-to-delete" id="article-to-delete" value="{{ article.article_id }}">
    <label for="delete-article">Permanently delete this article?</label>
    <input type="submit" id="delete-article" value="Delete">
  </form>

{% endblock%}