{% extends 'base.html' %}

{% block title %} {{ category.name }} - {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb" aria-label="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
  </ol>
{% endblock %}

{% block content %}
  <button class="articles-block block-bucket">
    <a href="/add-article">
      +
    </a>
  </button>

  {% for article in articles %}
    <button class="articles-block block-bucket">
      <a href="/articles/{{ article.article_id }}">
        {% if article.image %}
          <img src="{{ article.image }}" class="article-image">
        {% else %}
          {{ article.description }}
        {% endif %}
      </a>
    </button>
  {% endfor %}

{% endblock%}