{% extends 'base.html' %}

{% block title %}
  {% if outfit.name %}
    {{ outfit.name }}
  {% else %}
    {{ outfit.outfit_id }}
  {% endif %}
  Outfit Detail - 
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb" aria-label="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/outfits">Outfits</a></li>
    <li class="breadcrumb-item active">Outfit #{{ outfit.outfit_id }} Detail {% if outfit.name %} - {{ outfit.name }}{% endif %}</li>
  </ol>
{% endblock %}

{% block content %}

  <!-- TODO: Add < and > nav buttons to click through "adjacent" outfits -->

  <!-- Keep the left and right sides in another container -->
  <div class="outer-frame">

    <!-- 
    The left container shows everything that's in the current outfit.
    Here we display the outfit's name if it has one, otherwise its ID.
     -->
    <div class="outfit-frame">
      <fieldset>
      <legend>Outfit - 
      {% if outfit.name %}
        {{ outfit.name }}
      {% else %}
        # {{ outfit.outfit_id }}
      {% endif %}
      </legend>

      <!-- Iterate over all articles in the outfit & display them. -->
      {% for article in outfit.articles %}
        <div class="articles-block block-bucket box">
          <a href="/remove-article/{{ outfit.outfit_id }}/{{ article.article_id }}">
            {% if article.image %}
              <img src="{{ article.image }}" class="article-image">
            {% else %}
              {{ article.description }}
            {% endif %}
            <div class="mask">
              <p class="title overtext text-center">-</p>
            </div>
          </a>
        </div>
      {% endfor %}
      </fieldset>
    </div>

    <!-- The right container shows all categories that the user has. -->
    <div class="category-frame scrollable">
      {% for category in categories %}
        <fieldset class="display-category category-block scrollable">
          <legend>{{ category.name }}</legend>
          <!-- For each category, show all articles added to the category. -->
          {% for article in category.articles %}
            <div class="article-block block-bucket box">
                <a href="/add-article/{{ outfit.outfit_id }}/{{ article.article_id }}">
                <!-- <form action="/add-article" method="POST"> -->
                  <!-- <input type="hidden" name="outfit_id" value="{{ outfit.outfit_id }}" /> -->
              {% if article.image %}
                  <img src="{{ article.image }}" class="article-image">
              {% else %}
                {{ article.description }}
              {% endif %}
                <!-- </form> -->
                  <div class="mask">
                    <p class="title overtext text-center">+</p>
                  </div>
                </a>
            </div>
          {% endfor %}
        </fieldset>
      {% endfor %}
    </div>
  </div>

    <fieldset class="inline-block col-5 category-block scrollable">
      <legend>Tags:</legend>
      <form action="/update-outfit" method="POST">
        <input type="hidden" name="outfit-to-edit" id="outfit-to-edit" value="{{ outfit.outfit_id }}">
        {% for tag in tags %}
          <div>
            <input type="checkbox" id="{{ tag.tag_id }}" value="{{ tag.tag_id }}" name="outfit-tags" {% if tag in outfit.tags %} checked {% endif %}/>
            <label for="{{ tag.tag_id }}">{{ tag.name }}</label>
          </div>
        {% endfor %}
        <label for="new-tags">Add more tags (separate with commas):</label>
        <input type="text" id="new-tags" name="new-tags" />
        <div>
          <input type="submit" value="Update tags">
        </div>
      </form>
    </fieldset>

  <form action="/delete-outfit" method="POST">
    <input type="hidden" name="outfit-to-delete" id="outfit-to-delete" value="{{ outfit.outfit_id }}">
    <label for="delete-outfit">Permanently delete this outfit?</label>
    <input type="submit" id="delete-outfit" value="Delete">
  </form>

  <!-- <form action="/articlkajds" method="POST">
    <img>
    <input type="hidden" name="outfit_id" value="{{ outfit.outfit_id }}" />

  </form> -->

{% endblock%}