{% extends 'base.html' %}

{% block title %}
  {% if outfit.name %}
    {{ outfit.name }}
  {% else %}
    {{ outfit.outfit_id }}
  {% endif %}
  Outfit Detail - 
{% endblock %}

{% block content %}

  <!-- Go back to page where you can see all outfits -->
  <p>
    <a href="/outfits">Back to Outfits</a>
  </p>

  <!-- Keep the left and right sides in another container -->
  <div class="outer-frame">

    <!-- 
    The left container shows everything that's in the current outfit.
    Here we display the outfit's name if it has one, otherwise its ID.
     -->
    <div class="outfit-frame">
      <fieldset>
      <legend>Outfit - 
      {% if outfit.name %}
        {{ outfit.name }}
      {% else %}
        # {{ outfit.outfit_id }}
      {% endif %}
      </legend>

      <!-- Iterate over all articles in the outfit & display them. -->
      {% for article in outfit.articles %}
        <div class="articles-block block-bucket">
          <a href="/remove-article/{{ outfit.outfit_id }}/{{ article.article_id }}">
            {% if article.image %}
              <img src="{{ article.image }}" class="article-image">
            {% else %}
              {{ article.description }}
            {% endif %}
          </a>
        </div>
      {% endfor %}
      </fieldset>
    </div>

    <!-- The right container shows all categories that the user has. -->
    <div class="category-frame scrollable">
      {% for category in categories %}
        <fieldset class="display-category category-block scrollable">
          <legend>{{ category.name }}</legend>
          <!-- For each category, show all articles added to the category. -->
          {% for article in category.articles %}
            <div class="article-block block-bucket"> 
              {% if article.image %}
                <a href="/add-article/{{ outfit.outfit_id }}/{{ article.article_id }}">
                <!-- <form action="/add-article" method="POST"> -->
                  <!-- <input type="hidden" name="outfit_id" value="{{ outfit.outfit_id }}" /> -->
                  <img src="{{ article.image }}" class="article-image">
                <!-- </form> -->
                </a>
              {% else %}
                {{ article.description }}
              {% endif %}
            </div>
          {% endfor %}
        </fieldset>
      {% endfor %}
    </div>
  </div>

  <!-- <form action="/articlkajds" method="POST">
    <img>
    <input type="hidden" name="outfit_id" value="{{ outfit.outfit_id }}" />

  </form> -->

{% endblock%}