{% extends 'base.html' %}

{% block title %} {{ category.name }} - {% endblock %}

{% block content %}
  
  <p>
    <a href="/categories">Back to Categories</a>
  </p>

  {% for article in articles %}
    <button class="articles-block">
      <a href="/articles/{{ article.article_id }}">
        {% if article.image %}
          <img src="{{ article.image }}" class="article-image">
        {% else %}
          {{ article.description }}
        {% endif %}
      </a>
    </button>
  {% endfor %}

  <button class="articles-block">
    <a href="/add-article">
      Create a new article
    </a>
  </button>

{% endblock%}