{% extends 'base.html' %}

{% block title %} Article Detail - {% endblock %}

{% block content %}
  
  <p>
    <a href="/articles">Back to Articles</a>
  </p>
  <h2>
    {{ article.category.name }} - {{ article.description }}
  </h2>

  {% if article.image %}
    <img class="full-size" src="{{ article.image }}">
  {% endif %}

  <p>
    Times worn: {{ article.times_worn }}
  </p>
  <p>
    Purchase price: {{ article.purchase_price }}
  </p>
  <form action="/delete-article" method="POST">
    <input type="hidden" name="article-to-delete" id="article-to-delete" value="{{ article.article_id }}">
    <label for="delete-article">Permanently delete this article?</label>
    <input type="submit" id="delete-article" value="Delete">
  </form>

{% endblock%}